@import "tailwindcss";
body{
  background-color: #121212;
  color:white;
  font-family: Copperplate, Papyrus, fantasy;
  overflow: auto;
}
@font-face {
  font-family: small-font;
  src: url("/4UaHrEJDsxBrF37olUeD96rp5w.woff2");
}
.small-font{
  font-family: small-font;
}


